.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho-titulo{
    front-size: 3rem;
    color: black;
    line-height: 1.2;
    margin-bottom: 20px;
}






















